@media screen and (max-width: 1180px) {

  .wrapper {
    width: 100%;
    padding: 0 24px;
  }

  .photo a:before {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  header {
    height: 350px;
  }

  .contact_block {
    padding: 6em 0;
  }

  figure {
    margin: 0 2vw;
    text-align: center;
  }

  .top_nav {
    display: none;
  }

  .dropdown_menu {
    display: none;
  }

  div.tab_section {
    display: none;
  }

  .accord_tabs {
    display: block;
    margin: 0 auto;
  }

  .skill_box {
    margin-bottom: 0;
  }

  .skill_box img {
    width: 75%;
    height: 75%;
    margin-bottom: 0;
  }

  .skill_box h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .photo_block img {
    width: 18em;
  }

  .photo_block span:before {
    display: none;
  }

  button:before {
    display: none;
  }

  .photo a:after {
    display: none;
  }

  .photo a:hover img {
    transform: none;
  }

  .photo a {
    margin-bottom: 5px;
  }

  figcaption {
    margin-bottom: 20px;
  }

  .icons img:hover {
    transform: none;
  }

  figure {
    margin: 0 3vw;
  }
}

@media screen and (max-width: 800px) {
  #details {
    padding: 70px 0 50px 0;
  }

  .mail:before,
  .mail:after {
    display: none;
  }

  .photo a:after {
    display: none;
  }

  .photo a:hover img {
    transform: none;
  }

  .contact_block {
    padding: 6em 0;
  }

  .title {
    margin-bottom: 30px;
  }

  .info {
    display: block;
    text-align: center;
  }

  .answers_info {
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
  }

  .titles_info {
    display: none;
  }

  .icons {
    justify-content: space-evenly;
    width: 75%;
    margin: 0 auto;
  }

  .photo_block img {
    top: -25px;
  }

  .column_accord {
    float: left;
  }

  .photo a:after {
    display: none;
  }

  button {
    width: 70%;
    font-size: 15px;
  }

  button:before {
    display: none;
  }

  .photo a {
    margin: 0;
    width: 90%;
  }

  figure {
    margin: 0 3em;
    text-align: center;
  }

  .photo a:after {
    display: none;
  }

  figcaption {
    margin-bottom: 30px;
    width: 80%;
  }
}

@media screen and (max-width: 750px) {
  figure {
    margin: 0 2vw;
  }

  #details {
    padding: 50px 0 50px 0;
  }
  .contact_block {
    padding-bottom: 3em;
    padding-top: 5em;
  }
}

@media screen and (max-width: 630px) {
  figure {
    margin: 0;
  }

  .title h1 {
    font-size: 36px;
  }

  .title h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 585px) {
  #details {
    padding: 35px 0 30px 0;
  }

  figure {
    margin: 0;
  }

  header {
    height: 280px;
  }

  .title h1 {
    font-size: 30px;
  }

  .title h2 {
    font-size: 18px;
  }

  .photo {
    width: 40%;
    height: 40%;
    margin-left: 20px;
  }

  button {
    width: 60%;
    font-size: 13px;
    padding: 1em 0.5em;
  }

  button:before {
    display: none;
  }

  figcaption {
    margin-bottom: 20px;
    font-size: .8em;
  }

  .second_skills {
    float: left;
  }

  .paragraph_info {
    padding: 10px 25px;
  }

  .skill_box img {
    width: 45%;
  }

  .skill_box h3 {
    font-size: 15px;
  }
  .contact_block {
    padding-bottom: 2em;
    padding-top: 4em;
  }
}

@media screen and (max-width: 420px) {
  header {
    height: 240px;
    background-size: 100%;
  }

  .contact_block {
    padding: 4em 0;
  }

  .photo_block img {
    width: 16em;
  }

  .paragraph_info {
    padding: 10px 15px;
  }

  .skill_box img {
    width: 45%;
  }

  .skill_box h3 {
    font-size: 15px;
  }
}

@media screen and (max-width: 395px) {
  .photo_block img {
    width: 16em;
    top: -35px;
  }

  button {
    width: 60%;
    font-size: 13px;
    padding: 1em 0.5em;
  }

  button:before {
    display: none;
  }

  .second_skills {
    float: left;
  }

  .paragraph_info {
    padding: 5px 10px;
  }

  .skill_box h3 {
    font-size: 12px;
  }
  .contact_block {
    padding-bottom: 1.7em;
    padding-top: 4em;
  }
}

@media screen and (max-width: 385px) {

  .paragraph_info {
    padding: 5px 2px;
  }
  .column_skills {
    width: 40%;
    margin: 0 10px;
  }
}